.CartItem {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CartItem div {
    display: flex;
    width: 30%;
}

.CartItem button {
    width:25px;
    height: 25px;
    background-color: rgb(231, 231, 231);
    border-radius: 6px;
    margin: 0 3px;
    border: none;
}

.CartItem button:disabled{
    background-color: #f8f9fa;
}
